$primary-color: #444;
$secondary-color: #fff;
$accent-color: #484848;
$background-color: #eee;
$background-image: url('./img/landing_page.jpg');
$main-font: "Noto Kufi Arabic", sans-serif;
$grean : #52b035;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $main-font;
    font-weight: 500;
}

body {
    height: 200vh;
    background-color: $background-color;
}

header {
    background: $primary-color;
    color: $secondary-color;
    padding: 0 0px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    .user img {
        width: 36px;
        border-radius: 50%;
    }
}

nav ul {
    display: flex;
    align-items: center;
    direction: rtl;
    list-style-type: none;
    font-size: 14px;
    font-family: $main-font ;

    li i {
        margin-left: 10px;
        transform: rotateY(180deg);
        font-size: 12px;
        color: $accent-color;
        color: #FFF;
    }

    a {
        color: $secondary-color;
        text-decoration: none;
        padding: 15px 11px;
        transition-duration: .2s;

        &:hover {
            background: rgba(255, 255, 255, 0.18);
        }
    }

    .no1:hover {
        background: rgba(0, 0, 0, 0);
    }

    .fa-bars {
        color: #fff;
    }
}

nav {
    display: flex;


    ul li img {
        width: 144px;
    }
}

.fa-bars {
    font-size: 25px;
}

.user {
    display: flex;
    align-items: center;

    i {
        font-size: 18px;
        margin: 0 20px;
    }

    a {
        margin-left: 0px;
        padding: 10px 0px;
        color: #fff;

    }
}

.d-1000 {
    display: none;
}

.d-1008 {
    display: flex;
}

// landing page
.landing_page {
    padding-top: 60px;
    background-image: $background-image ;
    background-image: cover;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $main-font;

    direction: rtl;
    color: #222222;
    background-size: cover;
    background-position: center 48%;
    background-repeat: no-repeat;

    h1 {
        font-size: 36px;
        margin-bottom: 20px;
        line-height: 60px;
        color: #222222;
        font-weight: 400;
    }

    h2 {
        font-size: 18px;
        line-height: 30px;
        margin: 0 auto 25px;
        color: $accent-color;
        font-weight: 400;

    }

    form {
        position: relative;
        width: 65%;
        z-index: 1;

    }

    form input {
        height: 70px;
        padding-left: 18%;
        margin-bottom: 0;
        font-size: 16px;
        width: 100%;
        outline: none;
        border: none;
        padding: 0 10px;
        box-shadow: 1px 1px 1px 1px #b1b1b1;

        &::placeholder {
            opacity: .8;
            font-family: $main-font;
            font-size: 13px;
        }

        &:focus {
            border: 1px solid #52b035;
        }
    }


    button {
        position: absolute;
        left: 9px;
        top: 50%;
        transform: translate(1%, -50%);
        height: 53px;
        background-color: $grean;
        color: #fff;
        border: none;
    }

    button {
        padding: 13px 22px;
    }



}

// sec 1 
.all {
    width: 100%;

}

.main-block-title {
    width: 100%;
    font-size: 28px;
    margin: 25px auto;
    text-align: center;
    line-height: 44px;
    color: #52b035;
}

section.all {
    padding: 0 50px;
    width: 100%;

    .g-main {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .img-1 {
            background-image: $background-image;
            background-repeat: no-repeat;
            background-size: cover;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            font-family: $main-font;
            position: relative;
            font-weight: bold;

            span {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: #22222246;
            }
        }
    }
}


// title-bis 
.title-bis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5pxx 5px;
    margin: 30px 0;

    font-family: $main-font;
    font-size: 20px;

    button {
        padding: 10px 20px;
        border: 1px solid $grean;
        color: $grean;
        font-size: 18px;
        background: #fff;
        transition-duration: .3s;

        &:hover {
            color: #fff;
            background: $grean;
        }

        a {
            color: #fff;

        }
    }

}

.bis {
    padding: 0 30px;
}

.cat-bis {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

// main bis
.cat-bis div {
    background-image: $background-image;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: $main-font;
    position: relative;
    font-weight: bold;

    span {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #22222246;
    }
}













/* Small screen */
@media (max-width: 1002.98px) {
    header {
        background: $secondary-color;
        bottom: 0;
        height: 60px;
        align-items: center;
        justify-content: center;

        .d-1000 {
            display: flex;
            width: 100%;
            margin: 0 30px;

        }

        .d-1008 {
            display: none;
            width: 100%;
        }

        .d-1000 ul,
        .d-1000 nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .d-1000 .fa-bars {
            color: $accent-color;
            font-size: 18px;
        }

        nav ul li a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            font-size: 13px;
            color: $accent-color;
            text-align: center;
        }

        nav ul li h4,
        nav ul li i {
            font-size: 12px;
            margin: auto;
            font-family: "Noto Kufi Arabic", sans-serif;
            color: $accent-color;
            font-weight: 400;
        }

        nav ul li i {
            font-size: 14px;
        }
    }

    // lamding page 
    .landing_page {

        padding-top: 10px;
    }
}

@media (max-width: 814.98px) {
    .landing_page {

        padding-top: 0;

        h1,
        h2 {

            text-align: center;
        }

        h1 {
            font-size: 25px;
        }

        h2 {

            text-align: center;
            font-size: 13px;
        }

    }
}