$primary-color: #444;
$secondary-color: #fff;
$accent-color: #484848;
$background-color: #eee;
$background-image: url("./img/landing_page.jpg");
$main-font: "Noto Kufi Arabic", sans-serif;
$grean: #52b035;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $main-font;
  font-weight: 500;
}

body {
  height: 200vh;
  background-color: $background-color;
}

// start header #####################################
header {
  background: $primary-color;
  color: $secondary-color;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

  .user img {
    width: 36px;
    border-radius: 50%;
  }
}

nav ul {
  display: flex;
  align-items: center;
  direction: rtl;
  list-style-type: none;
  font-size: 14px;
  font-family: $main-font;

  li i {
    margin-left: 10px;
    transform: rotateY(180deg);
    font-size: 12px;
    color: $accent-color;
    color: #fff;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
    padding: 15px 11px;
    transition-duration: 0.2s;

    &:hover {
      background: rgba(255, 255, 255, 0.18);
    }
  }

  .no1:hover {
    background: rgba(0, 0, 0, 0);
  }

  .fa-bars {
    color: #fff;
  }
}

nav {
  display: flex;

  ul li img {
    width: 144px;
  }
}

.fa-bars {
  font-size: 25px;
}

.user {
  display: flex;
  align-items: center;

  i {
    font-size: 18px;
    margin: 0 20px;
  }

  a {
    margin-left: 0px;
    padding: 10px 0px;
    color: #fff;
  }
}

.d-1000 {
  display: none;
}

.d-1008 {
  display: flex;
}

// landing page ##################################
.landing_page {
  padding-top: 60px;
  background-image: $background-image;
  background-image: cover;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $main-font;

  direction: rtl;
  color: #222222;
  background-size: cover;
  background-position: center 48%;
  background-repeat: no-repeat;

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 60px;
    color: #222222;
    font-weight: 400;
  }

  h2 {
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 25px;
    color: $accent-color;
    font-weight: 400;
  }

  form {
    position: relative;
    width: 65%;
    z-index: 1;
  }

  form input {
    height: 70px;
    padding-left: 18%;
    margin-bottom: 0;
    font-size: 16px;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 10px;
    box-shadow: 1px 1px 1px 1px #b1b1b1;

    &::placeholder {
      opacity: 0.8;
      font-family: $main-font;
      font-size: 13px;
    }

    &:focus {
      border: 1px solid #52b035;
    }
  }

  button {
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translate(1%, -50%);
    height: 53px;
    background-color: $grean;
    color: #fff;
    border: none;
  }

  button {
    padding: 13px 22px;
  }
}

// sec 1#################################################

.main-block-title {
  width: 100%;
  font-size: 28px;
  margin: 30px auto 30px;  text-align: center;
  line-height: 44px;
  color: #52b035;
}

section.all {
  padding: 0 50px;
  width: 100%;
  padding:50px 0 !important;
  background: #fff;


  .g-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
    margin: 0 30px;

    .img-all {
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 300px;
      min-height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-family: $main-font;
      position: relative;
      font-weight: bold;

      h4 {
        color: #fff;
        z-index: 2;
        font-size: 20px;
      }

      span {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;

        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .img-1 {
          background-image: $background-image;
          background-repeat: no-repeat;
          background-size: cover;
          width: 200px;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          font-family: $main-font;
          position: relative;
          font-weight: bold;

          span {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: #22222246;
          }
        }
      }
    }


    // title-bis 
    .title-bis {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 5px;
      margin: 30px 0;
      padding-top: 100px ;

      font-family: $main-font;
      font-size: 20px;

      button {
        padding: 10px 20px;
        border: 1px solid $grean;
        color: $grean;
        font-size: 18px;
        background: #fff;
        transition-duration: .3s;

        &:hover {
          color: #fff;
          background: $grean;
        }

        a {
          color: #fff;

        }
      }

    }

  

    .cat-bis {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    // main bis
    .cat-bis div {
      background-image: $background-image;
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 300px;
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-family: $main-font;
      position: relative;
      font-weight: bold;

      span {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #22222246;
      }
    }


  
  }
}

.img-1 {
  background-image: url("../img/remote-64132428314c98f2e8abe5e4b98b3a03f215fdd04788b533f5217.jpg");
}

.img-2 {
  background-image: url("../img/social-5598c2401b6ca90eda3df7c69c8c4727dcc937f8cc995096456d8.jpg");
}

.img-3 {
  background-image: url("../img/development-bb416454cb6338d96f266211eb8d2e10fc669ddb8470ee95.jpg");
}

.img-4 {
  background-image: url("../img/bussiness-2c1f54b0bd848ce232a972323a799f3abe75235eb4f00fb018.jpg");
}

.img-5 {
  background-image: url("../img/audio-93508fbd03c4ca1a20eabc10ecbf7924161d61e7139878bc93641c.jpg");
}

.img-6 {
  background-image: url("../img/engineering-3338ff435ee9031dc4736fab60521d51325e8585ab5c5d30.jpg");
}

.img-7 {
  background-image: url("../img/design-17881dc3ab0928311acc42761ff77c7e9a09e077c326fbc5d373e.jpg");
}

.img-8 {
  background-image: url("../img/video-9b7fb5a1ae97544b32573e1625c5b12bb86e5fff9abfe4ae5ba737.jpg");
}

.img-9 {
  background-image: url("../img/lifestyle-cafda8f023c4cfc9dec868d2eb5eeab6d68f00db618d63bd4c.jpg");
}

.img-10 {
  background-image: url("../img/data-fc397c958d17a83f911c2750e8137c16998937339910bffa8ec779f.jpg");
}

.img-11 {
  background-image: url("../img/translate-ad-ad754e21fea72c69a11e1000903e1f848812bc20e3f1033.jpg");
}

//bis #################################################
.title-bis {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
  button{
    padding: 3px 10px;
    color: $grean;
    transition-duration: .3s;
    cursor: pointer;
    border:1px solid $grean;
    &:hover{
      background: $grean;
      color: #fff;
    }
  }
}
.bis {

  .product {
    margin-bottom: 30px;
  
    .carousel {
      position: relative;
  
      .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        text-align: start;
      }
  
      .product-img,
      a.url-product,
      .carousel-item {
        width: 100%;
        object-fit: cover;
        object-position: top;
  
        &::after {
          display: block;
          clear: both;
          content: "";
        }
      }
  
      .product-user {
        position: absolute;
        bottom: 8px;
        left: 8px;
  
        a img {
          width: 42px;
          border-radius: 50%;
          outline: 1px solid #fff;
          margin: 7px 10px;
        }
  
        a {
          color: #5c5e61;
          text-decoration: none;
          font-family: "Noto Kufi Arabic", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
          font-size: 12px;
        }
      }
    }
  
    .product-body {
      position: relative;
      direction: rtl;
      font-family: "Noto Kufi Arabic", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  
      .product-title {
   
      
        a {
          font-size: 14px;
          color: #222222;
          text-decoration: none;
          font-family: "Noto Kufi Arabic", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
          line-height: 1.5em;
        }
      }
  
      .product-category {
        margin: 3px 0 3px;
  
        a, span {
          font-size: 12px;
          color: #5c5e61;
          font-family: "Noto Kufi Arabic", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        }
      }
  
      .product-body-rate {
        display: flex;
        align-items: center;
        margin: 5px 0;
        .disabled_link, .disabled_link:hover {
          color: #222222;
        }
  
        .c-list--rating {
          line-height: 1;
          color: #fa9747;
          font-size: 14px;
          padding-left: 0px;
          display: flex;
          gap: 3px;
          list-style: none;
        }
      }
  
      .product-price {
        font-size: 14px;
        margin-right: auto;
      }
    }
  }
  .list-bis{
    display: grid;
    gap: 10px;
    margin: 0 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    padding: 0 40px;
  }
  .title-bis {
    padding: 100px 0 20px;
}
}

/* Small screen */
@media (max-width: 1002.98px) {
  header {
    background: $secondary-color;
    bottom: 0;
    height: 60px;
    align-items: center;
    justify-content: center;
    .d-1000 {
      display: flex;
      width: 100%;
      margin: 0 30px;
    }

    .d-1008 {
      display: none;
      width: 100%;
    }

    .d-1000 ul,
    .d-1000 nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .d-1000 .fa-bars {
      color: $accent-color;
      font-size: 18px;
    }

    nav ul li a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      font-size: 13px;
      color: $accent-color;
      text-align: center;
    }

    nav ul li h4,
    nav ul li i {
      font-size: 12px;
      margin: auto;
      font-family: "Noto Kufi Arabic", sans-serif;
      color: $accent-color;
      font-weight: 400;
    }

    nav ul li i {
      font-size: 14px;
    }
  }

  // lamding page
  .landing_page {
    padding-top: 10px;
  }

  //all
  section.all .g-main .img-all h4 {
    font-size: 16px;
  }
}

@media (max-width: 814.98px) {
  .landing_page {
    padding-top: 0;

    h1,
    h2 {
      text-align: center;
    }

    h1 {
      font-size: 25px;
    }

    h2 {
      text-align: center;
      font-size: 13px;
    }
  }
}