* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: #222;
}
body{
  background-image: url('./img/blue_bg.png');
background-repeat: no-repeat;
background-size: cover;
width: 100%;

top: 0;
right: 0
}

.container {
  width: 90%;
  margin: 40px auto;
}

header {
  /* end header bracket */
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
header nav ul li .logo {
  width: 100px;
}
header nav ul li .logo img {
  width: 120px;
}
header nav ul li {
  position: relative;
}
header nav ul li a {
  padding: 15px 20px;
  font-weight: 600;
}

header nav ul li a.link_header::after {
  width: -webkit-fill-available;
  width: 0;
  height: 3px;
  position: absolute;
  content: "";
  background-color: #753f8e;
  bottom: -13px;
  z-index: 5;
  transform: translate(-50%, -50%);
  left: 50%;
  right: 50%;
  transition-duration: 0.3s;
}
header nav ul li a.link_header:hover::after {
  width: 70%;
}
header nav ul .sec1 .sid {
  display: flex;
  justify-content: space-around;
}
header nav button {
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  color: rgba(3, 0, 0, 0.651);
  transition-duration: 0.5s;
  margin: auto;
  
}
header nav button:hover {
  color: #fff;
  background-color: #753f8e;
  cursor: pointer;
}
header .login {
  position: relative;
  z-index: 99;
   display: flex;
  flex-direction: column;
}
.login_page{
  display: none;
}
header .login .login_page ,
header .login .signin_page {
  position: fixed;
  flex-direction: column;
  transform: translate(25%, 25%); border-radius: 10px;
    top: 0%;
  right: 500px;
  background: #fff;

}
header form{
  padding: 30px 40px 20px;
  display: flex;
  flex-direction: column;
}
header .login .login_page form h2 {
  font-size: 35px;
  font-family: sans-serif;
  text-align: center;
  margin: 10px ;
}
header .login .login_page form img {
  cursor: pointer;
  width: 65px;
  display: flex;
  margin: 20px auto;
  height: 60px;
  border-radius: 50%;
  outline: 1px solid #000;
}
header .login .login_page form input {
  padding: 10px 24px;
  margin: 5px 10px;
  border: 1px solid rgb(167, 167, 167);
  font-size: 17px;
  border-radius: 10px;
}
header .login form input:focus{
  outline: #753f8e 1px solid;

}
header .login .login_page form button{
margin: 15px 30%;

}
div#login_page::after {
  /* content: ""; */
  position: absolute;
  width: 1100%;
  background-color: #22222244;
  height: 2800vh;
  top: -200px;
  right: -500px;
  z-index: -3;
}
div#login_page::before {
  /* content: ""; */
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  top: -0;
  right: -0;
  z-index: -2;

}
.login-top{
  display: flex;

 
  margin: 0;
  width: 100%;
}
.login-top h2{
  transition-duration: .5s;
padding: 10px 16%;
cursor: pointer;
opacity: .5;

}
.login-top h2:first-child{
color: #000;
 opacity: 1;
}

.login-top::after{
  content: "";
  position: absolute;
  top: 5px;
  right: 50%;
  width: 1px;
  height: 30px;
  background: #000;

}
.login-top h2:hover{
  opacity: 1;
  color: #000;
}
form.signin {
  
}
#form_login {
  display: none;
}
.login_page {
  display: none;
}
/*start sec1 */