.choose {
    margin: 100px 0;

    .container {
        display: flex;
        justify-content: space-between;



        .sid_left,
        .sid_right {
            width: 48%; // تحديد عرض الجانبين مع فراغ بسيط بينهما
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .text {
                p {
                    font-size: 11px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    line-height: 2;
                }

                h2 {
                    font-size: 34px;
                    margin-bottom: 100px;
                }
            }

            vedio {
                margin-top: 20px; // تباعد بين النص والفيديو
                width: fit-content;

                height: 30%;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .sid_right {
            margin-top: 20px; // تباعد بين الجانبين
            margin-bottom: -100px;

            p {
                margin: 50px 0;
            }

            .h3 {
                margin: 50px 0 100px 0;

                h3:first-child {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .video-container {
        position: relative;
        display: inline-block;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(12, 115, 175, 0.137); // تحديد خلفية شفافة
            display: flex;
            justify-content: center;
            align-items: center;

            .play-icon {
                width: 80px; // حجم الدائرة الشفافة
                height: 80px;
                background-color: transparent;
                border: 4px solid rgba(255, 255, 255, 0.459); // بوردر دائرة الشفافة
                border-radius: 50%; // جعل العنصر دائريًا
                display: flex;
                justify-content: center;
                align-items: center;

                i,
                svg {
                    color: white;
                }
            }
        }
    }

}